@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@700&display=swap");

:root {
  --ff-primary: Avenir, sans-serif;
  --ff-accent: Poppins, sans-serif;
  --ff-accent: "" sans-serif;
  --clr-black: #222222;
  --clr-dark: #303231;
  --clr-light: #c2c7c6;
  --clr-selectaccent: #618385;
  --clr-clearblue: #bbd6d8;
  --clr-midblue: #2d4258;
  --clr-lightblue: #91ccca;
  --clr-darkblue: #426184;
  --clr-white: #f2f9f7;
  --padding-L: 4rem;
  --p-size: 1rem;
  --small-size: 0.9rem;
  --h1-size: clamp(3rem, 5vw + 1rem, 8rem);
  --h2-size: clamp(2rem, 2.2vw + 1rem, 6rem);
  --h3-size: clamp(1.5rem, 1.3vw + 1rem, 5rem);
}

main {
  margin-top: 100px;
}

* {
  box-sizing: border-box;
}

p,
a,
body {
  line-height: 1.6;
  font-family: Montserrat, sans-serif;
}
body,
h1 {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: Poppins, sans-serif;
}
h1,
h2,
h3 {
  line-height: 1;
}

header {
  font-size: var(--small-size);
  position: relative;
  top: 0;
  right: 0;
  left: 0;
}
.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;

  padding: 0 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 200;
  background-color: var(--clr-white);
}
.logo {
  max-width: 150px;
  transition: all 0.15s ease-in;
}
.nav {
  display: none;
}
.nav a {
  color: var(--clr-dark);
  font-size: var(--small-size);
  text-decoration: none;
  font-weight: bold;
  box-shadow: inset 0 0 0 0 var(--clr-clearblue);
  transition: all 0.3s ease-in-out;
}
.nav a:hover {
  box-shadow: inset 150px 0 0 0 var(--clr-clearblue);
}
.donate-button {
  text-decoration: none;
  display: none;
}
.donate-button button {
  font-family: Poppins, sans-serif;
  font-size: var(--small-size);
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  padding: 20px;
  height: 100%;
  color: var(--clr-white);
  background-color: var(--clr-dark);
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.heart {
  height: 18px;
  width: 18px;
}
.donate-button:hover,
.logo:hover {
  scale: 1.05;
}
.donate-button button:hover .heart {
  content: url(../Assets/heart\ icon\ red.png);
}
.donate-button:active {
  scale: 0.95;
}

.donate-button:active .heart {
  content: url(../Assets/heart\ icon\ red.png);
}

.bar {
  width: 30px;
  height: 2px;
  background-color: black;
  display: block;
  margin-bottom: 6px;
}
.toggle-button {
  cursor: pointer;
}
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100px;
  right: 1rem;
  width: 300px;

  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur (15px);
  border-radius: 10px;

  overflow: hidden;
}

.dropdown-menu a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem;
  color: var(--clr-black);
  text-decoration: none;
}
.dropdown-menu .donate-button button {
  width: 100%;
}
#menu-toggle {
  display: none;
}
#menu-toggle:checked ~ .dropdown-menu {
  display: block;
}

footer {
  width: 100%;
  background-color: var(--clr-white);
  display: grid;
  color: var(--clr-dark);
  font-size: 0.7rem;
  justify-items: center;
  padding: var(--padding-L);
  row-gap: 2em;
}
.f-social {
  width: 170px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1.5em;
}
.f-social a img {
  width: 100%;
  flex: 1;
}
.f-nav {
  display: grid;
  justify-content: center;
  text-align: center;
  gap: 1em;
}
.f-nav a {
  text-decoration: none;
  font-size: 0.9rem;
  color: var(--clr-dark);
}

@media only screen and (width< 481px) {
}
@media only screen and (width>= 481px) {
}
@media only screen and (width>= 768px) {
  .nav {
    display: flex;
    gap: max(1rem, 5%);
  }
  .donate-button {
    display: block;
  }
  .mobile-nav {
    display: none;
  }
}
@media only screen and (width>= 993px) {
}
@media only screen and (width>= 1201px) {
}
