:root {
  --margin-s: max(10%, 4rem);
}
hr {
  border: 0.7rem solid var(--clr-lightblue);
  width: min(25%, 7rem);
  margin: 0 auto 2em auto;
  :root {
    --margin-s: max(10%, 4rem);
  }
}

h1 {
  font-size: var(--h1-size);
}
h2 {
  font-size: var(--h2-size);
}
h3 {
  font-size: var(--h3-size);
}
h1,
h2,
h3 {
  line-height: 1;
}

body {
  font-size: var(--p-size);
}
.intro {
  /*background-image: url(../Assets/categories.jpg);
    background-size: 100%;*/
  background-color: var(--clr-midblue);
}

.intro-text {
  max-width: 75ch;
  padding: 2em 10%;
}

.intro-text h1 {
  color: var(--clr-white);
}
.intro-text h1 span {
  color: var(--clr-lightblue);
}
.intro-text p {
  color: var(--clr-white);
  font-size: var(--small-size);
  padding-bottom: 10%;
}
.to-do {
  margin: var(--margin-s) 0;
}

/*.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
 
}
.gallery-img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
*/
.i2 {
  object-position: left;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: var(--margin-s) 0;
}

.gallery > * {
  flex: 1;
}
.gallery-img {
  width: min(100%, 20rem);
  aspect-ratio: 1/1;
  object-fit: cover;
  max-height: 15rem;
}
.to-do-container {
  display: grid;
  width: 100%;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2em 1em;
  gap: 1em;
}
.item img {
  width: 60px;
}
.item p {
  max-width: 30ch;
}
.item h3 {
  word-wrap: break-word;
}

#card1 {
  background-color: var(--clr-black);
  color: var(--clr-white);
}
#card2 {
  background-color: var(--clr-darkblue);
  color: var(--clr-white);
}
#card3 {
  background-color: #f2f2f2;
}
#card4 {
  background-color: var(--clr-lightblue);
}
#card2 h3 {
  color: var(--clr-clearblue);
}
#card3 h3 {
  color: var(--clr-darkblue);
}
.location {
  padding: var(--margin-s);
  background-color: var(--clr-light);
}
iframe {
  width: 100%;
  aspect-ratio: 1/1;
  height: 500px;
}
@media only screen and (width<481) {
}
@media only screen and (width>= 481px) {
  /*h1 {
    font-size: 4.5rem;
  }*/
  hr {
    margin-left: 0;
    border-width: 0.8rem;
  }
}
@media only screen and (width>= 768px) {
  /*h1 {
    font-size: var(--h1-size);
  }*/

  .title {
    margin-inline: var(--margin-s);
  }
  .to-do-container {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}
@media only screen and (width>= 993px) {
}

@media only screen and (width>= 1201px) {
  .item {
    min-height: 500px;
  }
}
